<html><head><title>Disciplinas já aprovadas</title></head>
<body>
    Selecione disciplinas já aprovadas<br><br>
  <form>
    <input id="IA" type="checkbox" name="IA" value="IA"/> IA<br>
    <input type="checkbox" name="ESI" value="ESI"/> ESI<br>
    <input type="checkbox" name="IHC" value="IHC"/> IHC<br>
    <input type="checkbox" name="AED" value="AED"/> AED<br><br>

    <input type="submit" value="Salvar">
    <input type="reset" value="Limpar">
  </form>
</body></html>