<html><head><title>Disciplinas</title></head>
<body>
    Disciplinas do curso de SI<br><br>
    IA<br>
    ESI<br>
    IHC<br>
    AED<br><br>

  <input type="submit" value="Login"><br><br><br>
  <a href="/aprovadas">Selecionar disciplinas jรก aprovadas</a>

</body></html>