body {
    font-family: Verdana,sans-serif;font: 100 2em "Lato", helvetica, arial, tahoma, sans-serif;
    font-size: 0.9em;
}

#menu ul {
    padding: 0px;
    margin: 0px 1px 0px 1px;
    background-color:#FFFFF;
    list-style:none;
}

#menu ul li { 
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #2DB34A;
}

h1 {
    color: #333;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*http://www.w3schools.com/cssref/css_websafe_fonts.asp*/
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top:-25px;
    font-size:25px;       
}

#formulario h3 {
    color: #979799;
    margin: 0px 0px 0px 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:12px;
}

a:hover {
    color: #2DB34A;
    text-decoration:none;
    display: block;
}

#usuario {
    float: left;
    margin: 1px 1px 0px 1px;
    width: 300px;
    height: 455px;
    background-color:#42444E;
    /*http://learn.shayhowe.com/html-css/opening-the-box-model/*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#principal {
    float: right;
    width: 758px;
    height: 455px;
    margin: 1px 0px 0px 2px;
    background-color: #FFFFFF;
}

#principal p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:10px;
}
footer {
    margin: 0px 1px 1px 1px;
    background-color:#FFFFF;
    clear: both;
    margin-bottom: 0;
    font-size:9px;
    text-align: right;
}
#loginimg {
    width:130px;
    height:130px;
    position: relative;
    top:-30px;
    left:50px;
    transform:rotate(90deg);
    border-radius: 50%;
    border: 1px solid #979799;
    box-shadow: inset 1px 1px 1px #fff, 1px 0px 1px #979799; 
    filter: contrast(110%);
}

#loginimg:hover{
    width:128px;
    height:128px;
    filter: grayscale(70%) blur(0.5px);
}
#uspimg {
    width:170px;
    height:170px;
    position: absolute;
    top:200px;
    left:555px;
}
#formulario {
    position: relative;
    top:-40px;
    left:10px;
}
#formulario h4 {
    color: #979799;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:9px;
    position:relative;
    left:148px;
    top: -8px;
}
#formulario input {
    width: 60%;
    border-left: 2px solid #2DB34A;
    border-radius: 1px;
    box-sizing: border-box;
    position:relative;
    left:18%;
    top: 50%;         
    display:block;
    background-color: #42444E;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #FFFFFF;     
}
#formulario input[type="checkbox"] {
    width: 20%;
    position:relative;
    left:100px;
    top: 14px;
    display:block;
    background-color: rgba(54, 25, 25, .0);   
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:15px  
}
.botao {
    padding: 1px 11px;
    border: 1px solid #2DB34A;
    border-radius: 8px;
    background-color: #42444E !important;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #979799;
    text-shadow: 0 1px 0 #666;
    box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
    cursor:pointer;
    position: relative;
    left: 110px;
    top: 10px;
}
.botao:hover {
    box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
}

.botao:active {
    box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
}

.botaoCadastrar {
    padding: 1px 11px;
    border: 1px solid #2DB34A;
    border-radius: 8px;
    background-color: #42444E;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #979799;
    text-shadow: 0 1px 0 #666;
    box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
    cursor:pointer;
    position: relative;
    left: 100px;
    top: 30px;
}

.botaoCadastrar:hover {
    box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
}

.botaoCadastrar:active {
    box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
}

.active{
    background-color: #000000;
    color: #FFFFFFF;
}
body {
    font-family: Verdana,sans-serif;font: 100 2em "Lato", helvetica, arial, tahoma, sans-serif;
    font-size: 0.9em;
}
#menu ul {
   padding: 0px;
   margin: 0px 1px 0px 1px;
   background-color:#FFFFF;
   list-style:none;
}
#menu ul li { 
   display: inline;
}
#menu ul li a {
	padding: 2px 10px;
	display: inline-block;
        /* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #2DB34A;
}
h1 {
	color: #333;
	text-decoration: none;
        text-align: center;
}
h2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        /*http://www.w3schools.com/cssref/css_websafe_fonts.asp*/
        color: #FFFFFF;
        text-align: center;
        position: relative;
        top:-25px;
        font-size:25px;       
}

h3 {
        color: #979799;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size:9px;
        position:relative;
        left:95px;
        top:-60px;
}

a:hover {
	color: #2DB34A;
        text-decoration:none;
        display: block;
}
#usuario {
        float: left;
        margin: 1px 1px 0px 1px;
        width: 300px;
        height: 455px;
        background-color:#42444E;
        /*http://learn.shayhowe.com/html-css/opening-the-box-model/*/
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#usuario ul {
        list-style:none;
}
#menuusuario ul {
        padding: 0px;
        background-color:#FFFFF;
        list-style:none;
        position: relative;
        top:-50px;
        left:70px;
        width: 225px;
        font-size:11px;
}
#menuusuario ul li a {
	padding: 2px 10px;
	display: inline-block;
	background-color:#EDEDED;
	color: #FFFFFF;
	text-decoration: none;
	border-left:3px solid #2DB34A;
}
#menuusuario ul li a:hover {
	color: #2DB34A;
        background-color:#1F1F1F;
}
#loginimg_usuario {
        width:80px;
        height:80px;
        position: relative;
        top:-35px;
        left:-10px;
	transform:rotate(90deg);
        border-radius: 50%;
        border: 1px solid #979799;
        box-shadow: inset 1px 1px 1px #fff, 1px 0px 1px #979799; 
        filter: contrast(140%);
}
#principal {
        float: right;
        width: 758px;
        height: 455px;
        margin: 1px 0px 0px 2px;
        background-color: #FFFFFF;
}
#principal p {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size:10px;
}
footer {
        margin: 0px 1px 1px 1px;
        background-color:#FFFFF;
        clear: both;
        margin-bottom: 0;
        font-size:9px;
        text-align: right;
}
.active{
      background-color: #000000;
      color: #FFFFFFF;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

