body {
    font-family: Verdana,sans-serif;font: 100 2em "Lato", helvetica, arial, tahoma, sans-serif;
    font-size: 0.9em;
}
#menu ul {
   padding: 0px;
   margin: 0px 1px 0px 1px;
   background-color:#FFFFF;
   list-style:none;
}
#menu ul li { 
   display: inline;
}
#menu ul li a {
	padding: 2px 10px;
	display: inline-block;
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #2DB34A;
}
h1 {
	color: #333;
	text-decoration: none;
        text-align: center;
}
h2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        top:-25px;
        font-size:25px;       
}

h3 {
        color: #979799;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size:9px;
        position:relative;
        left:95px;
        top:-60px;
}

a:hover {
	color: #2DB34A;
        text-decoration:none;
        display: block;
}
#usuario {
        float: left;
        margin: 1px 1px 0px 1px;
        width: 300px;
        height: 455px;
        background-color:#42444E;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#usuario ul {
        list-style:none;
}
#menuusuario ul {
        padding: 0px;
        background-color:#FFFFF;
        list-style:none;
        position: relative;
        top:-50px;
        left:70px;
        width: 225px;
        font-size:11px;
}
#menuusuario ul li a {
	padding: 2px 10px;
	display: inline-block;
	background-color:#EDEDED;
	color: #FFFFFF;
	text-decoration: none;
	border-left:3px solid #2DB34A;
}
#menuusuario ul li a:hover {
	color: #2DB34A;
        background-color:#1F1F1F;
}
#loginimg_usuario {
        width:80px;
        height:80px;
        position: relative;
        top:-35px;
        left:-10px;
	transform:rotate(90deg);
        border-radius: 50%;
        border: 1px solid #979799;
        box-shadow: inset 1px 1px 1px #fff, 1px 0px 1px #979799; 
        filter: contrast(140%);
}
#principal {
        float: right;
        width: 758px;
        height: 455px;
        margin: 1px 0px 0px 2px;
        background-color: #FFFFFF;
}
#principal p {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size:10px;
}
footer {
        margin: 0px 1px 1px 1px;
        background-color:#FFFFF;
        clear: both;
        margin-bottom: 0;
        font-size:9px;
        text-align: right;
}
.active{
      background-color: #000000;
      color: #FFFFFFF;
}
