<!DOCTYPE html>

<html>
	<head><title>Jubilator Help</title></head>
	
	<body>
		<section>
			<h1>Sobre o Jubilator Pro</h1>
			<p>O Jubilator Pro é uma aplicação Web para auxílio no gerenciamento do cronograma da grade curricular.</p>
		</section>
	</body>


</html>