<!DOCTYPE html>
<html>
	<head>
		<title>Jubilator Help</title>
		<!--<script language="JavaScript" src="ui_sobre_popup.js"></script>-->
		
	</head>
	
	<body style="background-color:#F0FFFF;background-repeat: repeat-x; font: red;">
		<section>
			<h1 style="font-size:28px; background-color: #FFA500">Sobre o Jubilator Pro</h1>
			<section id="fechar_sobre" class="fechar">
				<a href="#"><div style="font-size:14px;text-align:right;">Fechar<div></a>
			</section>
			
			<section class="contato">
				<section>
					<h1 style="text-align:left;">
						Informações sobre o Jubilator Pro
					</h1>
						<p>Jubilator Pro é um projeto de desenvolvimento de uma solução web para o problema de 
						timetabling, ou geração de grade horária, que visa apoior os estudantes na construção de 
						sua grade bem como mostrar combinações possíveis para a grade no semestre.</p>
						
					<h1 style="text-align:left;">
						Problema proposto - motivo do projeto
					</h1>	
						<p>Em nossa escola muitos estudantes passam pelo problema do jubilamento. No curso de Bacharelado em Sistemas de Informação, muitos alunos, 
						nos dois primeiros anos do curso, são reprovados em algumas disciplinas que são cruciais para que o curso possa ser 
						concluído no tempo oferecido pela unidade de ensino. Essas matéris são pré-requisitos para matrícula em outros que geram uma 
						sequência de "travamentos" nas matérias seguintes. Um exemplo claro é a disciplina Introdução à Programação. Caso o estudante reprove duas 
						vezes seguidas na disciplina, terá problemas para cursar as demais e para concluir o curso. Se também reprovar em Cálculo I ou II, 
						ficará ainda pior a situação do aluno.</p>
						<p>Nós nos propomos a começar o desenvolvimento de uma ferramenta que pudesse auxiliar o estudante a gerenciar sua graduação, sugerindo 
						combinações de grade para matrícula no semestre. Estas combinações visam construir uma grade para o semestre que maximize a obtenção de créditos e diminuição 
						do tempo de conclusão do curso. Com ela, o aluno que tenha reprovado nas disciplinas que acarretam sequência de travamentos devido aos requisitos 
						necessários, poderá gerenciar sua grade para que regularize seu período e evite o jubilamento.</p>
					
				</section>
				
				<h1 style="text-align:left;">
						Contato
					</h1>
				<section br/>Entre em contato por email: jubilatorpro@gmail.com</section>
				<section><br/>O Jubilator Pro é desenvolvido por estudantes da disciplina Engenharia de Software da EACH-USP</section>
			</section>
			
			<section class="main"><br/>
				<div class="titulo"><h1 style="text-align:left;">1 - Iniciando com o Jubilator Pro</h1></div>
				<p>Para começar, é preciso se cadastrar e fazer login no sistema. Então será apresentada a interface de apresentação.</p>
				 
				<div class="subtitulo"><h1 style="text-align:left;">1.1 - Lista de disciplinas</h1></div>
				<p>A interface Lista de disciplinas apresentará uma lista com as disciplinas do curso escolhido.</p>
				
				<div class="subtitulo"><h1 style="text-align:left;">1.2 - Grades fixas</h1></div>
				<p>Você será direcionado para o site da USP para ver a grade do curso.</p>
				
				<div class="subtitulo"><h1 style="text-align:left;">1.3 - Combinações</h1></div>
				<p>Aqui serão apresentadas as combinações possíveis para o usuário, visando maximização bna obtenção de créditos 
				e minimização do tempo de curso.</p>
				
				<div class="subtitulo"><h1 style="text-align:left;">1.4 - Entrar em contato</h1></div>
				<p>Apresentará dados de contato do projeto Jubilator Pro.</p>
				
				<div class="subtitulo"><h1 style="text-align:left;">1.5 - Site EACH - Usp</h1></div>
				<p>Você será redirecionado para o site da Escola de Artes, Ciências e Humanidades da Universidade de São Paulo - EACH-USP.</p>
				
				<div class="subtitulo"><h1 style="text-align:left;">1.6 - Sobre Jubilator</h1></div>
				<p>Você será redirecionado para essa página.</p>
				
		</section>
		
	</body>

</html>