<!DOCTYPE html>
<html>
	<head>
		<title>Jubilator Help</title>
		<script language="JavaScript" src="ui_sobre_popup.js"></script>
	</head>
	
	<body>
		<section>
			<h1>Sobre o Jubilator Pro</h1>
			<section id="fechar_sobre" class="fechar">
				<a href="#">Fechar</a>
			</section>
			
			<section class="contato">
				<section>
					<h1>
						<p>Jubilator Pro é um projeto de desenvolvimento de uma solução para o problema de 
						timetabling, ou agregação de horários, que visa apoior os estudantes na construção de 
						sua grade horário bem como mostrar combinações possíveis para a grade no semestre.</p>
					</h1>
				</section>
				
				<section>Entre em contato por email: jubilatorPro@gmail.com</section>
				<section><br/>O Jubilator Pro é desenvolvido por estudantes de Eng.Software da EACH-USP</section>
			</section>
			
			<section class="main"><br/>
				<div class="titulo">1 - Iniciando com o Jubilator Pro</div>
				<p></p>
				
				<div class="subtitulo">1.1 - Funcionamento</div>
				<p></p>
				
				<div class="titulo">2 - Interfaces</div>
				<p></p>
				 
				<div class="subtitulo">2.1 - Lista de disciplinas</div>
				<p></p>
				
				<div class="subtitulo">2.2 - Grades fixas</div>
				<p></p>
				
				<div class="subtitulo">2.3 - Combinações</div>
				<p></p>
				
				<div class="subtitulo">2.4 - Entrar em contato</div>
				<p></p>
				
				<div class="subtitulo">2.5 - Sites Usp</div>
				<p></p>
				
				<div class="subtitulo">2.6 - Sobre Jubilator</div>
				<p></p>
				
		</section>
		
	</body>

</html>