// Place all the styles related to the sobre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui_sobre_popup {
    position: absolute;
    background-color: #eeeeee;
    width: 600px;
    height: 480px;
    z-index: 2000;
    top: 10%;
    left: 50%;
    border: 1px solid black;
    font-family: verdana;
    overflow: auto;
}
.ui_sobre_popup .fechar {
    font-size: 15px;
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
}
.ui_sobre_popup .contato {
    padding: 60px 40px 0px 60px;
    font-size: 15px;
    text-align: center;
}
.ui_sobre_popup .contato section {
    font-size: 10px;
}
.ui_sobre_popup .main {
    padding: 40px;
}
.ui_sobre_popup .main .titulo {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.ui_sobre_popup .main .subtitulo {
    font-size: 15px;
    font-weight: bold;
}
.ui_sobre_popup .main p {
    font-size: 13px;
    text-indent: 2em;
    text-align: justify;
}
.ui_sobre_popup .main ul {
    font-size: 13px;
    text-align: justify;
}