      <header>
      <nav id="menu">
      <center>
      <ul>
      <li> <a href="/disciplinas/si">Lista de Disciplinas </a> </li>
      <li> <a href="#">Lista de Cursos </a> </li>
      <li> <a href="#">Grades Fixas</a> </li>
      <li> <a href="#">Entrar em contato </a> </li>
      <li> <a href="#">Sites USP </a> </li>
      </ul>
      </center>
      </nav>
      </header>
      <aside id="usuario">
      <h1> Jubilator Pro </h1>
      <h2><a>  Fa&ccedil;a o seu login </a></h2> 
      <figure class="html5">
      <%= image_tag("login2.JPG", :id => "loginimg", :alt => "login") %>
      </figure>
      <form id="formulario">
         <h3>Nome</h3>
         <input type="text" placeholder="Enter Username" name="usuario" required />
         <h3>Senha</h3>
         <input type="password" placeholder="Enter Password" name="senha" required />
         <a href="#"><span class="botao">Entrar</span></a>
         <input type="checkbox" checked="checked"> <h4> Lembrar Login e senha</h4>
         <a href="#"><span class="botaoCadastrar">Cadastrar</span></a>
      </form>
      </aside>
      <section id="principal">
      <h1>Jubilator Pro</h1> <br><br>
      <p> Quanto tempo tenho para terminar a faculdade? </p>
      <p> Somos parceiros oficiais da USP, aqui voce consegue cadastrar todas as materias ja realizadas e materias ainda a realizar. Calculamos o seu tempo restante de curso, mostramos suas materias ainda a cursar e o tempo restante para seu jubilamento.

       <a href="https://uspdigital.usp.br/">
           <%= image_tag("usp.png", :id => "uspimg", :alt => "Sistemas USP") %>
       </a>

      </section>
     <footer id="rodape">
     <p>Copyright 2016 Jubilator-Pro - Atualizado em: <time datetime="2016-17-09T13:00:24+01:00">17 de setembro de 2016</time> por <a href="#">Author</a> Luiz Augusto <a href="#comments">reportar erro</a></p>
     </footer>