<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8", content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <title>Jubilator Pro - Pagina Inicial</title>
    <%= stylesheet_link_tag 'style' %>
    /*<link rel="stylesheet" href="style/style.css">*/
    </head>
<body>
      <header>
      <nav id="menu">
      <center>
      <ul>
      <li> <a href="#">Lista de Disciplinas </a> </li>
      <li> <a href="#">Lista de Cursos </a> </li>
      <li> <a href="#">Grades Fixas</a> </li>
      <li> <a href="#">Entrar em contato </a> </li>
      <li> <a href="#">Sites USP </a> </li>
      </ul>
      </center>
      </nav>
      </header>
      <aside id="usuario">
      <h1> Jubilator Pro </h1>
      <h2> <a>Bem Vindo </a></h2>
      <figure class="html5">
      <img id="loginimg_usuario" src="images/login2.JPG" alt="login">
      </figure>
      <h3> Luiz Augusto Moreira <a href="#"> (sair) </a> </h3>

      <nav id="menuusuario">
      <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Meu Curso</a></li>
      <li><a href="#">Disciplinas</a></li>
      <li><a href="#">Grade do Semestre</a></li>
      <li><a href="#">Disciplinas j&aacute aprovadas</a></li>
      <li><a href="#">Criar/Consultar proxima Grade</a></li>
      <li><a href="#">Depend&ecirc;ncias</a></li>
      <li><a href="#">Tempo de termino do curso</a></li>
      <li><a href="#">Tempo de jubilamento</a></li>
      </ul>
      </nav>

      </aside>
      <section id="principal">
      <h1>Jubilator Pro</h1> <br><br>
      <p> Inicio </p>
      <p> Escolha uma op&ccedil;&atilde;o ao lado </p>
       <a href="https://uspdigital.usp.br/"><img id="uspimg" src="images/usp.png" alt="Sistemas USP"></a>

      </section>
     <footer id="rodape">
     <p>Copyright 2016 Jubilator-Pro</p>
     <p>Atualizado em: <time datetime="2016-17-09T13:00:24+01:00">17 de setembro de 2016</time> por <a href="#">Author</a> Luiz Augusto <a href="#comments">reportar erro</a></p>
     </footer>
</body>
</html>